@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body,
html {
    background-color: #222222;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: white;
}

main {
    position: relative;
    z-index: 0;
}

header {
    z-index: 999;
}


/* open btn */

.open-btn {
    position: fixed;
    z-index: 999;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.open-btn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    width: 45%;
}

.open-btn span:nth-of-type(1) {
    top: 15px;
}

.open-btn span:nth-of-type(2) {
    top: 23px;
}

.open-btn span:nth-of-type(3) {
    top: 31px;
}

.open-btn.active span {
    background-color: #222222;
}

.open-btn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.open-btn.active span:nth-of-type(2) {
    opacity: 0;
}

.open-btn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


/* open btn */


/* aside section */

.aside-section {
    top: 0;
    bottom: 0;
    position: absolute;
}

.aside-left {
    z-index: 998;
    position: fixed;
    width: 30%;
    left: -100%;
    background-color: #222222;
    transition: all 0.4s;
}

.aside-left.panelactive {
    left: 0;
}

@media screen and (max-width:768px) {
    .aside-left {
        display: none;
    }
}

.aside-right {
    z-index: 998;
    position: fixed;
    width: 70%;
    right: -100%;
    background-color: white;
    transition: all 0.4s;
}

.aside-right.panelactive {
    right: 0;
}

@media screen and (max-width:768px) {
    .aside-right {
        width: 100%;
    }
}

.aside-list {
    padding: 0;
    margin: 0;
    margin-top: 150px;
    text-align: left;
    padding-left: 50px;
}

.aside-list li {
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .aside-right.panelactive .aside-list {
        padding-left: 0px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .aside-anchor {
        letter-spacing: 8px;
    }
}

.aside-anchor:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #BA55D3;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
}

.aside-list li .anchor2 {
    color: #DAA520;
}

.anchor2:after {
    background-color: #DAA520;
}

.aside-list li .anchor3 {
    color: #2E8B57;
}

.anchor3:after {
    background-color: #2E8B57;
}

.aside-list li .anchor4 {
    color: #222222;
}

.anchor4:after {
    background-color: #222222;
}

.aside-anchor::before {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #fff;
    left: 0;
    height: 3px;
    z-index: 1;
    width: 50%;
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.aside-anchor:hover:before {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.aside-anchor {
    padding-bottom: 7px;
    color: #BA55D3;
    font-size: 30px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
}

.aside-content {
    margin-top: 150px;
    padding: 0 40px;
    position: relative;
    color: white;
    text-align: center;
}

.aside-content p {
    font-size: 15px;
}

.logo-button {
    display: inline-block;
    background-image: none;
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 7px 50px;
    border: 2px solid white;
    margin-top: 15px;
    transition: all 0.4s;
    z-index: 1;
    overflow: hidden;
}

.logo-button::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: -1;
    border-right: 200px solid transparent;
    border-bottom: 200px solid #fff;
    transform: translateX(-100%);
    transition: transform ease 0.3s;
}

.logo-button:hover {
    color: #222222;
}

.logo-button:hover::before {
    transform: translateX(0);
}

.logo-button-rp {
    display: none;
}

@media screen and (max-width:768px) {
    .logo-button-rp {
        display: block;
        position: absolute;
        background-color: white;
        border: 3px solid black;
        color: black;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.4s all;
    }
    .logo-button-rp:hover {
        background-color: black;
    }
}


/* header */


/* main */

.hero {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.content {
    width: 45%;
    text-align: left;
    margin-top: -100px;
    margin-left: 100px;
    position: relative;
    z-index: 100;
}

.content h1 {
    margin: 30px 0 30px 0;
}

.content span {
    font-weight: bold;
    font-size: 20px;
}

.web-title {
    color: #BA55D3;
}

.mixing-title {
    color: #DAA520;
}

.music-title {
    color: #2E8B57;
}

@media screen and (max-width:768px) {
    .hero {
        display: block;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .content {
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-left: 0;
        top: 30%;
        z-index: 100;
    }
    .content h1 {
        font-size: 50px;
    }
    .content h4 {
        font-size: 20px;
    }
}


/* animation */

.animation {
    position: absolute;
    width: 50%;
    right: 0;
}

@media screen and (max-width: 768px) {
    .animation {
        position: absolute;
        display: block;
        width: 100%;
        top: 20%;
    }
}

@media screen and (max-height:1100px) {
    .hero {
        height: 120vh;
    }
    .animation {
        top: 35%;
    }
}


/* service section */

.top-service {
    height: auto;
}

.page-header {
    width: 100%;
    margin-bottom: 100px;
}

.page-header_heading {
    text-align: center;
    margin-bottom: 50px;
}

.heading-en {
    font-size: 40px;
}

.heading-ja {
    font-size: 13px;
}

.service {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 50px;
}

.col {
    text-align: center;
    width: 18%;
}

.service-unit i {
    font-size: 3em;
    padding: 30%;
    border-radius: 50%;
    margin-bottom: 30px;
}

.service-i1 {
    background-color: #BA55D3;
}

.service-i2 {
    background-color: #DAA520;
}

.service-i3 {
    background-color: #2E8B57;
}

.service-title-en {
    font-weight: bold;
    font-size: 25px;
}

.service-title-ja {
    font-size: 13px;
    margin-bottom: 10px;
}

.service-desc {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .service {
        display: block;
        margin-bottom: 0;
    }
    #content-service {
        margin-bottom: 80px;
    }
    .col {
        width: 100%;
        text-align: left;
        height: 250px;
        position: relative;
    }
    .service-unit i {
        margin-bottom: 0;
        position: absolute;
        left: 10%;
        font-size: 2em;
        padding: 10%;
        top: 50%;
        transform: translateY(-50%);
    }
    .service-text {
        position: absolute;
        left: 40%;
        text-align: left;
        top: 50%;
        margin-right: 10%;
        transform: translateY(-50%);
    }
    .service-desc p {
        text-align: left;
    }
}

@media screen and (max-width:480px) {
    .col {
        height: 400px;
    }
    .service-unit i {
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
        font-size: 3em;
        padding: 15%;
    }
    .service-text {
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        top: 50%;
        margin-right: 0;
        font-size: 0.8rem;
    }
}

.button-container {
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 55px;
    margin-bottom: 15%;
}

.button-container a {
    display: block;
    width: 100%;
    height: 60px;
    color: white;
}

.btn-arr--y::after {
    content: "";
    position: absolute;
    margin-top: 15px;
    height: 15px;
    width: 15px;
    border: 3px solid;
    border-color: white white transparent transparent;
    transform: rotate(45deg);
    transition: all 0.4s;
}

.btn-arr--y:hover::after {
    transform: translateX(50%) rotate(45deg) scale(1.1);
}


/* works section */

.top-works {
    height: auto;
    position: relative;
}

.top-works::before {
    content: "";
    display: block;
    width: 100%;
    height: 110%;
    border-radius: 0%;
    top: 0;
    left: 0;
    position: absolute;
    transform: skewY(5deg);
    transform-origin: top right;
    background-color: #DAA520;
    z-index: -1;
}

#content-works {
    margin-bottom: 70px;
}

.slide-items {
    margin: 0 auto;
}

.slide-container {
    position: relative;
    width: 60%;
}

.works-slide {
    position: relative;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#works-slide1 {
    margin-bottom: 50px;
}

.slide-title {
    position: absolute;
    text-align: center;
    left: 20%;
    top: -10%;
    width: 20%;
}

.slide-title p {
    padding: 3px 5px;
    border: 1px solid white;
}

.slide-items img {
    width: 20vw;
    height: auto;
}

.img2 {
    padding-top: 50px;
}

@media screen and (max-width:480px) {
    .img2 {
        padding-top: 20px;
    }
}

.slick-slide {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: scale(.75);
    opacity: 0.5;
}

.is--active {
    transform: scale(1);
    opacity: 1;
}

.slick-dots {
    text-align: center;
    margin: 30px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
}

.slick-dots .slick-active button {
    background-color: white;
}

.slide-arrow {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 2;
}

.prev-arrow {
    left: 25%;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.next-arrow {
    right: 25%;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}


/* About section */

.top-about {
    position: relative;
}

.top-about_content {
    width: 100%;
    height: 60%;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.top-about_container::before {
    content: "";
    display: block;
    width: 100%;
    height: 110%;
    top: -8%;
    left: 0;
    position: absolute;
    transform: skewY(-2deg);
    background-color: #708090;
    z-index: -1;
}

.top-about_content p {
    line-height: 40px;
}

.line-ttl {
    font-weight: bold;
    padding-bottom: 10%;
}

#content-about {
    margin-bottom: 50px;
}


/* About Section */


/* Contact Section */

.page-header-contact {
    position: relative;
}

.page-header_heading span {
    color: white;
}

#content-contact_heading::before {
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2E8B57;
    display: block;
    position: absolute;
    top: -30%;
    left: 35%;
    z-index: -1;
}

.page-desc {
    text-align: center;
    padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
    .page-desc {
        font-size: 15px;
    }
}

.contact-mail {
    text-align: center;
}

.contact-mail_address {
    font-size: 2em;
    padding-bottom: 50px;
}

@media screen and (max-width:480px) {
    .contact-mail_address {
        font-size: 20px;
    }
    .contact-mail_note {
        font-size: 10px;
    }
}

.contact-mail_address a {
    color: white;
    text-decoration: underline;
}

.contact-mail_note {
    margin-bottom: 15%;
}


/* Contact Section */


/* Footer */

footer {
    background-color: white;
    color: black;
    position: relative;
    height: 100vh;
    width: 100%;
}

.global-footer_container {
    text-align: center;
    margin: auto;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.global-footer_heding {
    font-size: 0.8rem;
}

.global-footer_list {
    display: flex;
    justify-content: center;
    padding: 20px;
    letter-spacing: 8px;
    transform: scale(0.8, 1);
}

.global-footer_list a {
    font-weight: bold;
}

.global-footer_list span {
    padding: 0 15px 0 15px;
    font-weight: bold;
}

.global-footer a {
    color: black;
}

.global-footer_info {
    position: absolute;
    bottom: 5vh;
    left: 3vh;
    font-size: 0.5rem;
}


/* Footer */


/* Pageup */

.pagetop {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    opacity: 0;
    z-index: 1;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(-45deg);
    transition: all 0.4s;
}

.pagetop:hover {
    transform: scale(1.2) rotate(-45deg);
}


/* Pageup */


/* Loading Animation */

.loaded {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}

#loading-wrapper {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -85px 0 0 -85px;
    width: 170px;
    height: 170px;
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #2E8B57;
    border-bottom-color: #2E8B57;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #DAA520;
    border-bottom-color: #DAA520;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    border-bottom-color: #BA55D3;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(369deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
    z-index: 899;
}


/* main {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

.main_h {
    visibility: hidden;
} */